<a target="_blank">
    <header class="top-header">
    </header>

    <!--dust particel-->
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->


    <div class="lamp__wrap">
        <div class="lamp">
            <div class="cable"></div>
            <div class="cover"></div>
            <div class="in-cover">
                <div class="bulb"></div>
            </div>
            <div class="light"></div>
        </div>
    </div>



    <!-- END Lamp -->

    <section class="error">
        <!-- Content -->
        <div class="error__content">
            <div class="error__message message">


                <h1 class="message__title">Sensor FCI

                </h1>
                <p class="message__text">¡Hola de Nuevo!</p>
            </div>
            <div class="error__nav e-nav">


                <a target="_blanck" class="e-nav__link" *ngIf="!isLogged" href="/login">LOGIN</a>
                <a target="_blanck" class="e-nav__link" *ngIf="isAdmin==='operador'" href="/admin">INICIO</a>


            </div>
        </div>

        <img class="logoCard" mat-card-image src="assets/images/logo.png">
        <!-- END Content -->

    </section>




    <!-- <body>
        <div class="mainbox">


            <mat-card class="logoCard">
                <img mat-card-image src="assets/images/logo.png">
            </mat-card>


            <div class="err">Sensor de Parametros</div>


            <div class="msg">¡Hola de nuevo!

                <a *ngIf="!isLogged" href="/login">LOGIN</a>
                <a *ngIf="isAdmin==='operador'" href="/admin">INICIO</a>

            </div>
        </div>



    </body> -->



</a>