<div fxLayout="column" fxFlex="100">

    <div fxLayout="row" fxFlex="100" class="buttons">
        <mat-form-field appearance="fill">
            <mat-label>Piscinas</mat-label>
            <mat-select [(ngModel)]="selectedPool" name="pool" [disabled]="selectedCensus===true">
                <mat-option *ngFor="let piscina of piscinasUsuarioDisponibles[0]" [value]="piscina.id">{{piscina.codigo}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <div class="table-button-row" [(ngModel)]="!selectedCensus" ngDefaultControl>
            <button [disabled]="!selectedPool  || selectedCensus===true" (click)="getPlantillaPiscina()" mat-flat-button color="accent">Censar</button>
        </div> -->

        <div class="table-button-row" [(ngModel)]="!selectedCensus" ngDefaultControl>
            <button [disabled]="!selectedPool  || selectedCensus===true" (click)="onOpenModal()" mat-flat-button color="accent">Censar</button>
        </div>

        <div class="table-button-row" [(ngModel)]="selectedStop" ngDefaultControl>
            <button [disabled]="!selectedCensus" (click)="stopPlantilla()" mat-flat-button color="accent">Parar</button>
        </div>



        <div class="table-button-row">
            <button [disabled]="!selectedCensus" (click)="guardarCenso()" mat-flat-button color="accent">Guardar</button>
        </div>

    </div>



    <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="100px">
        <div style="display: block " fxLayout="column" fxLayoutGap="30px" class="table">
            <canvas baseChart [datasets]="barChartData" [options]="barChartOptions" [type]="barChartType" [labels]="barChartLabels">
            </canvas>
        </div>

        <div style="display: block " fxLayout="column" fxLayoutGap="30px" class="table">
            <canvas baseChart [datasets]="barChartData1" [options]="barChartOptions1" [type]="barChartType" [labels]="barChartLabels1">
        </canvas>
        </div>

        <div style="display: block " fxLayout="column" fxLayoutGap="30px" class="table">
            <canvas baseChart [datasets]="barChartData2" [options]="barChartOptions2" [type]="barChartType" [labels]="barChartLabels2">
        </canvas>
        </div>

        <div style="display: block " fxLayout="column" class="table">
            <canvas baseChart [datasets]="barChartData3" [options]="barChartOptions3" [type]="barChartType" [labels]="barChartLabels3">
        </canvas>
        </div>

        <div style="display: block " class="table">
            <canvas baseChart [datasets]="barChartData4" [options]="barChartOptions3" [type]="barChartType" [labels]="barChartLabels4">
        </canvas>
        </div>

    </div>








    <table>
        <!-- Id Column
        <ng-container matColumnDef="parametro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by parametro">
                Parametro
            </th>
            <td mat-cell *matCellDef="let element"> {{element.parametro}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valor">
                Valor
            </th>
            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
        </ng-container>

        <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by observacion">
                Observacion
            </th>
            <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
        </ng-container> -->

    </table>


</div>